@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');



/* kontrollera transitions, så att de även fungerar på "utvägen" */
/* lägg eventuellt in någon animation på någon sektion */
/* prefers reduce motion, highlight color */

:root {
    --accent-color: #6366f1;
    --btn-color: #0B0F19;

    --bg-color-primary: #fff;
    --bg-color-secondary: #F3F6FF;
    --bg-color-tertiary: rgb(226, 229, 241, 0.05);
    --bg-color-4: #fff;

    --detail-color2: #E2E5F1;
    --detail-color3: #9397ad;
    --detail-color4: #9397ad;
    --detail-color5: #33354D;
    --detail-color6: rgb(147, 151, 173, 0.20);

    --font-color-primary: #0B0F19;


 /*  
 */
    /* --color-white: #fff;
    --font-color-secondary: #0B0F19;
    --bg-color-secondary: #fff;
    --bg-color2: #E2E5F1;
 */
    --font-weight-regular: 400;
    --font-weight-bold: 600;
    --font-weight-extrabold: 800;
}


/* DARK THEME STYLES (@media (prefers-color-scheme dark) {})*/
.dark-theme {
    --accent-color: #6366f1;
    --btn-color: #EFF2FC;

    --bg-color-primary: #0B0F19;
    --bg-color-secondary: rgba(255, 255, 255, 0.04);
    --bg-color-tertiary: rgba(255, 255, 255, 0.05);
    --bg-color-4: rgba(255, 255, 255, 0.04);

    --detail-color2: rgba(255, 255, 255, 0.15);
    --detail-color3: #6366F1;
    --detail-color4: #9397ad;
    --detail-color5: #fff;
    --detail-color6: rgb(99, 102, 241, 0.40);

    --font-color-primary: #fff;


    /* hsl(from var(--bg-color-primary) h s calc(l + 3)); */
/*     --detail-color1: rgba(255, 255, 255, 0.18);

    --detail-color5: rgb(99, 102, 241, 0.40); */

/*  --font-color-secondary: #fff;
    --bg-color-secondary: #56597348;
    --bg-color1: #131022;
    --bg-color2: #131022;

    --detail-color2: #565973;

    --color-white: #000000; */
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* -webkit-tap-highlight-color: rgba(0, 0, 0, 0); */
}


body {
    font-family: "Manrope", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
    background-color: var(--bg-color-primary);
    color: var(--font-color-primary);
}



/* UTILITY CLASSES */

h1, h2, h3, h4 {
    font-weight: var(--font-weight-extrabold);
}

.s-font {
    font-size: 14px;
    line-height: 22px;
}

.m-font {
    font-size: 16px;
    line-height: 150%;
    font-weight: 400;
}

.l-font {
    font-size: 18px;
    line-height: 150%;
}

.s-heading {
    font-size: 20px;
    font-weight: 800;
    line-height: 150%;
}

.sm-heading {
    font-size: 25px;
    line-height: 150%
}

.m-heading {
    font-size: 28px;
    font-weight: 800;
    line-height: 130%;
}

.l-heading {
    font-size: 34px;
    font-weight: 800;
    line-height: 45px;
    padding-top: 1.5rem;
}

.xl-heading {
    font-size: 40px;
    font-weight: 800;
    line-height: 130%;
}

.bold {
    font-weight: 800;
}



/*top-padding*/
.tp-1 {
    padding-top: 3rem;
}
.tbp-2 {
    padding-top: 2rem;
    padding-bottom: 2.5rem;
}









/*HEADER*/

.main-navigation {
    width: 100%;
    padding: 1rem;
        margin-left: auto;
        margin-right: auto;
    position: sticky;
    top: 0;
    background-color: var(--bg-color-primary);
        
    display: grid;
    grid-template-columns: 1fr auto auto auto;
    align-items: center;
    /* gap: 2rem; */
    z-index: 1000;
}

.sidebar {
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    width: 100%;
    z-index: 9999;
    background-color: var(--bg-color-tertiary);
    backdrop-filter: blur(15px);
    box-shadow: 2px 0 10px  var(--detail-color3);
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    list-style: none;
    display: flex;
    transform: translateX(100%);
    opacity: 0;
    transition: transform .3s ease, opacity .3s ease;
}

.sidebar.open{
    transform: translateX(0);
    opacity: 1;
}

.sidebar li {
    width: 100%;
    height: 3rem; 
}

.sidebar a, .ham-menu {
    width: 100%;
    text-decoration: none;
    color: var(--detail-color5);
    display: flex;
    justify-content: left;
    align-items: center;
}
.sidebar a {
    padding: 10px 20px;
}


.ham-menu {
    justify-content: right;
    padding: 1rem;
}

.sidebar a:hover {
    background-color: var(--detail-color6);
}

/* .ham-menu {
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
} */

.logo-container {
    display: flex;
    align-items: center;
    gap: 1rem;
    font-weight: var(--font-weight-bold);
}

.dark-mode {
    display: flex;
    gap: 1.5rem;
    align-items: center;
    padding-right: 1.5rem;
} 

.nav-link {
    text-decoration: none;
    display: none;
}

.dark-mode-label {
    display: none;
    font-weight: var(--font-weight-bold);
}

.switch {
    width: 45px;
    height: 25px;
    position: relative;
    display: inline-block;
    height: 25px;
    width: 45px;

    input[type="checkbox"] {
    height: 0;
    width: 0;
    opacity: 0;
    }

    .slider {
    position: absolute;
    inset: 0;
    background-color: var(--detail-color3);
    border-radius: 25px;
    box-shadow: 0 10px 30px -5px var(--accent-color), inset 0 0 4px #6f728380;
    cursor: pointer;
    }

    .slider::before {
    content: '';
    position: absolute;
    height: 80%;
    aspect-ratio: 1;
    background-color: #fff;
    border-radius: 50%;
    box-shadow: inset 0 0 3px #ccc;
    top: 50%;
    left: 5%;
    transform: translateY(-50%);
    transition: 0.2s;
    }

    input[type="checkbox"]:checked + .slider::before {
        left: calc(95% - 20px);
    }

    input[type="checkbox"]:checked + .slider {
        background-color: var(--accent-color);
    }
}

.toggle-menu {
    position: relative;
    height: 36px;
    width: 30px;
    cursor: pointer;

    .line {
        position: absolute;
        height: 2px;
        width: 22px;
        background-color: var(--detail-color4);
        border-radius: 100px;
    }

    .top-line {
        top: 30%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    .middle-line {
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    .bottom-line {
        top: 70%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}

.toggle-menu input {
    opacity: 0;
}

.toggle-menu:hover > .line {
    background-color: #3e4265;
    transition: .2s;
}

.sign-in-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: .75rem;
    background-color: var(--accent-color);
    color: #fff;
    text-decoration: none;
    border-radius: 4px;
    padding: 10px 25px;
    transition: .2s;
}

.sign-in-btn:hover {
    background-color: hsl(from var(--accent-color) h s calc(l + 3));
    color: #fff;
    text-decoration: underline;
}

.sign-in-btn:active {
    background-color: hsl(from var(--accent-color) h s calc(l - 3));
    transition: none;
}

#sign-in-up {
    display: none;
}

@media (min-width: 768px) {
/*     .main-navigation {
        max-width: 720px;
    } */

    .dark-mode {
        padding-right: 4rem;
    }

    .dark-mode-label {
        display: block;
    }
    .sidebar {
        width: 15rem;
    }
}



@media (min-width: 1400px) {

    .main-navigation {
        max-width: 1320px;
        padding: 1rem 2.5rem 1rem 2rem;
    }

    .toggle-menu {
        display: none;
    }

    .sidebar {
        display: none;
    }

    #sign-in-up, .nav-link {
        display: block;
        padding-left: 2rem;
    }

}


/*SIDA 1*/

.hero {
    background: radial-gradient(
        at bottom,
        rgb(99, 102, 241, 0.1) 0%,
        rgb(218, 70, 239, 0.05) 42%,
        rgb(241, 244, 253, 0.07) 83%
        );
    }

.frontpage {
    margin: 0 auto;
    text-align: center;
    display: grid;
    gap: 2rem;
    padding: 0 1rem;
} 

.content {
    display: grid;
    gap: 2.5rem;
    padding-bottom: 2rem;
}

.line-break {
    display: none;
}

.market-btns {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.expand {
    text-decoration: none;
    display: flex;
    gap: 1rem;
    align-items: center;
    justify-content: center;
}

.btn-app {
    background-color: var(--btn-color);
    border: none;
    border-radius: 7px;
    display: flex;
    padding: .5rem 1rem;
    justify-content: center;
}

#theme-image-apple, 
#theme-image-google {
    max-width: 100%;
    height: auto; 
}

.btn-app:hover {
    background-color: #0b0f19cc;
}
.btn-app:active {
    background-color: #06080e;
}

.arrow-btn {
    height: 45px;
    width: 45px;
    background-color: var(--bg-color-4);
    color: var(--detail-color5);
    border: none;
    border-radius: 100%;
    display: flex;
    padding: 15px;
    box-shadow: 0 0 10px var(--detail-color2);
}

.arrow-btn:hover {
    background-color: var(--accent-color);
    color: #fff;
    box-shadow: 0 0 10px -3px var(--accent-color);
    transition: .2s;
}

.arrow-btn:active {
    background-color: hsl(from var(--accent-color) h s calc(l - 3));
    transition: none;
}

.discover-more:hover {
    color: var(--accent-color);
    font-size: 15px;
    transition: .2s;
}

.app-illustration {
    grid-area: app-illustration;
    display: none;
}


@media (min-width: 768px) {
    
    .frontpage {
        max-width: 1000px;
        padding: 2rem 2rem 0 2rem;
        gap: 2rem;
        grid-template-columns: 1fr 1fr;
        grid-template-areas: "headline headline"
                             "content app-illustration";
    }

    .headline {
        grid-area: headline;
        font-size: 45px;
        line-height: 130%
    }

    .app-illustration {
        display: block;
        position: relative;
    } 

    .img-back {
        position: absolute;
        z-index: -10;
        bottom: 0;
        right: 120px;
        width: 70%;
        height: 80%;
    }

    .img-front {
        position: absolute;
        z-index: -5;
        bottom: 0;
        right: 0;
        width: 70%;
        height: 100%;
    }

    .content {
        grid-area: content;
        text-align: left;
        padding-top: 5rem;
    }

    .line-break {
        display: block;
    }

    .market-btns {
        flex-direction: row;
        margin-right: 2rem;
    }

    .expand {
        justify-content: flex-start;
    }
}


@media (min-width: 1400px) {
    .frontpage {
        max-width: 1320px;
        grid-template-areas: "headline app-illustration"
                            "content app-illustration";
        padding-top: 6rem;
        }

    .headline {
        font-size: 55px;
        text-align: left;
        margin-top: 2rem;
    }

    .content {
        padding-top: 0;
    }

    .expand {
        margin-top: 10rem;
        margin-bottom: 1rem;
    }

    .img-back {
        right: 230px;
        width: auto;
        height: 80%;
    }

    .img-front {
        width: auto;
    }
}



/*SIDA 2*/

.logoipsum {
    width: 100%;
    display: none;
    gap: 1.5rem;
    padding: 2.5rem 1.5rem 0 1.5rem;
    margin: 0 auto;
    justify-content: center;
}

.ipsum {
    height: 100px;
    width: 160px;
    border: 1px solid var(--detail-color2);
    border-radius: 7px;
    padding: 1rem;
}

.app-on-iphone {
    display: none;
}

.features {
    display: grid;
    padding: 2.5rem 1rem;
    text-align: center;
    align-items: center;
    gap: 2rem;
    margin-left: auto;
    margin-right: auto;

    h2 {
        padding: 1rem 0;
    }
}


.feature {
    display: grid;
    grid-template-columns: 2fr 8fr;
    gap: 1rem;
    text-align: left;
    min-height: 6rem;
}


@media (min-width: 768px) {
    .logoipsum {
        max-width: 720px;
        display: flex;
    }

    .logoipsum-5, .logoipsum-6 {
        display: none;
    }

    .features {
        grid-template-columns: repeat(2, 1fr);
        padding: 2.5rem 2rem 5rem 2rem;
    }

    .features-intro {
        grid-column: 1 / -1;
    }
}

@media (min-width: 1400px) {
    .ipsum {
        display: flex;
        width: 195px;
    }
    .logoipsum {
        max-width: 1320px;
    }
    .features {
        max-width: 1320px;
        padding-top: 7rem;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(4, 1fr);
    }
    .app-on-iphone {
        display: block;
        padding-right: 10rem;
        grid-column: 1 / 2;
        grid-row: 1 / -1;
    }
    .features-intro {
        grid-column: 2 / -1;
        text-align: left;

        h2 {
            padding-left: 0;
            text-align: center;
            font-size: 35px;
        }
    }
}


/*SIDA 3*/

.description {
    background-color: var(--bg-color-secondary);
}
.container-how-to {
    padding: 2rem 1rem 3rem 1rem;
    text-align: center;

    h3 {
        padding: 1.5rem 0 .5rem 0;
    }

    .desktop-text {
        display: none;
    }
}

.sc-pics-tablet, .sc-pics-desktop {
    display: none;
}

@media (min-width: 768px) {

    .container-how-to {
        padding: 3rem 5rem;

        h2 {
            font-size: 33px;
        }
        p {
            padding: 0 5rem;
        }
    }

    .sc-pics-mobile {
        display: none;
    }

    .sc-pics-tablet {
        position: relative;
        display: flex;
        justify-content: center;
        gap: 1rem;
    }

    .sc-bg {
        position: absolute;
        z-index: 5;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
    }

    .sc {
        z-index: 10;
        display: flex;
    }
}
 

@media (min-width: 1400px) {
    .container-how-to {
        max-width: 1320px;
        margin: 0 auto;

        h2 {
            font-size: 40px;
            line-height: 100px;
        }

        p {
            padding: 0 15rem;
        }
        .mobile-text {
            display: none;
        }

        .desktop-text {
            display: block;
        }

        .sc-pics-mobile, .sc-pics-tablet {
            display: none;
        }

        .sc-pics-desktop {
            position: relative;
            display: flex;
            gap: 3rem;
            justify-content: center;
        }
    } 
}



/*FUNKTIONER*/

.app-info {
    display: none;
}

@media (min-width: 1400px) {
    .app-info {
        max-width: 1320px;
        margin: 0 auto;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        align-items: center;
        padding: 5rem;
    }

    .info-list {
        display: flex;
        flex-direction: column;
        gap: 2rem;

        ul {
            list-style: none;

            li {
                margin-bottom: 10px;

                i {
                    margin-right: 5px;
                }
            }
        }
        .fa-circle-check {
            color: var(--accent-color);
        } 
    }

    .payment-details {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: repeat(3, 1fr);
        gap: 2rem;

        h3 {
            grid-column: 1 / -1;
            align-content: end;
        }
    }

    .payment-info {
        display: grid;
        gap: 1rem;
    }

    .learn-more-btn {
        height: 45px;
        width: 160px;
        background-color: var(--accent-color);
        color: #fff;
        padding: .7rem 1.5rem;
        border-radius: .5rem;
        text-decoration: none;

        span {
            padding-left: 10px;
        }
    }

    .learn-more-btn:hover {
        background-color: hsl(from var(--accent-color) h s calc(l + 3));
        color: #fff;
        text-decoration: underline;
    }
    .learn-more-btn:active {
        background-color: hsl(from var(--accent-color) h s calc(l - 3));
        transition: none;
    }

}


/*RECENSIONER*/

.reviews {
    display: none;
}

@media (min-width: 1400px) {
    .reviews {
        display: block;
        background-color: var(--bg-color-secondary);
    }
    .review-container {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        max-width: 1320px;
        margin: 0 auto;
        padding: 5rem 0;
        gap: 1.5rem;        
    }
    .review {

        background-color: var(--bg-color-4);
        border-radius: 6px;
        padding: 2rem 1rem;
        display: flex;
        flex-direction: column;
        gap: 1.5rem;
        position: relative;
    }

    .quote {
        background-color: var(--accent-color);
        color: #ffffff;
        border-radius: 5px;
        width: 45px;
        height: 45px;
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        top: -25px;
        left: 25px;

    }

    .job-title {
        font-weight: 400;
        color: #dddddd;
    }

    .reviewer {
        display: flex;
        gap: 1.5rem;
        align-items: center;
    }
    
    .yellow-star {
        color: #ffba08;
    }
    
    .star {
        color: #b4b7c9;
    }
   
}



/*SIDA 4*/

.faqs {
    padding: 1rem;
}

.faq-intro {
    padding: 2rem 0;
    text-align: center;
}

.faq-container {
    border: 1px solid var(--detail-color2);
    border-radius: 8px;
    display: grid;
    gap: .5rem;

    hr {
        border: 1px solid var(--detail-color2);
    }
}


.question {
    background-color: var(--bg-color-4);
    display: flex;
    align-items: center;
    position: relative;
    cursor: pointer;

    padding: 1.5rem;
    /* border: .5px solid var(--detail-color2); */

/*     display: grid;
    grid-template-columns: 6fr 1fr;
    align-items: center;

    .arrow-btn {
        background-color: var(--bg-color1);
    }  */
}


.question .open,
.question .close {
    position: absolute;
    right: 0;
    padding: 0 2rem;
    transform: translateY(-8px);
    opacity: 0;
    transition: .3s;
}


.question .open.active,
.question .close.active {
    opacity: 1;
    transform: translateY(0);
}

.answer {
    background-color: var(--bg-color-4);
    padding: 0 2rem;
    max-height: 0;
    overflow: hidden;
    transition: .2s;
    text-align: left;
}

.answer.active {
    max-height: 1000px;
}

.arrow-down {
    height: 35px;
    width: 35px;
    background-color: var(--bg-color-secondary);
    border: none;
    border-radius: 100%;
    text-align: center; 
    padding: 10px;
}

.arrow-up {
    height: 35px;
    width: 35px;
    background-color: var(--accent-color);
    color: #fff;
    border: none;
    border-radius: 100%;
    box-shadow: 0 -5px 20px -3px var(--accent-color);
    text-align: center;
    padding: 10px;
}

.contact-btn {
    height: 50px;
    width: 160px;
    background-color: var(--accent-color);
    color: #fff;
    border: none;
    border-radius: 6px;
    display: block;
    margin: 0 auto;
}


.contact-info {
    display: none;
    justify-content: space-around;
    padding: 1rem 0;

    /* credit: https://codepen.io/scottlittlewood/pen/YNmvZj */
    * > .fa-hover-show,
    *:hover > .fa-hover-hidden {
    display: none;
    }
  
    *:hover > .fa-hover-show {
    display: inline-block;
    }
}

.contact-phone {
    display: none;
    border: 1px solid var(--detail-color2);
    border-radius: 8px;
    text-align: left;
    padding: 1.5rem;
    align-items: center;

    a, i {
        color: var(--accent-color);
        text-decoration: none;
    }
    a:hover {
        font-weight: var(--font-weight-bold);
        transition: .2s;
    }
}

.contact-msg {
    display: none;
    border: 1px solid var(--detail-color2);
    border-radius: 8px;
    text-align: left;
    padding: 1.5rem;
    align-items: center;

    a, i {
        color: #22c55e;
        text-decoration: none;
    }
    a:hover {
        font-weight: var(--font-weight-bold);
        transition: .2s;
    }
}



@media (min-width: 768px) {

    .question {
        border: 1px solid var(--bg-color-primary);
        border-radius: 8px;
        box-shadow: 5px 5px 10px var(--detail-color2);
    }

    .answer {
        border-left: 1px solid var(--bg-color-primary);
        border-right: 1px solid var(--bg-color-tertiary);
        border-bottom: 1px solid var(--bg-color-tertiary);
        border-radius: 8px;
    }

    .faq-container {
        border: none;
        hr {
            display: none;
        }
    } 

    .contact-btn {
        display: none;
    }

    .contact-info {
        display: flex;
    }

    .contact-phone {
        display: block;
        display: grid;
        grid-column: 1 / 2;
        height: 165px;
        width: 340px;        
    }

    .contact-msg {
        display: block;
        display: grid;
        grid-column: 2 / -1;
        height: 165px;
        width: 340px;
    }
} 

@media (min-width: 1400px) {
    .faqs {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        max-width: 1320px;
        margin-left: auto;
        margin-right: auto;
    }

    .faq-intro {
        text-align: left;

        h3 {
            font-size: 32px;
        }
    }

    .faq-container {
        grid-column: 2 / -1;
        grid-row: 1 / -1;
    }

    .contact-info {
        justify-content: flex-start;
        gap: 1rem;

        grid-column: 1 / 2;
        grid-row: 2 / 3;
    }
    .contact-phone {
        height: 150px;
        width: 200px;
    }
    .contact-msg {
        height: 150px;
        width: 200px;
    }
}
    



/*SUBSCRIBE*/

.subscribe-section {
    background-color: var(--bg-color-secondary);
    padding: 2rem 1rem;
    margin: 0 0.75rem;
    border-radius: 7px;
    display: grid;
    align-items: center;
    gap: 2rem;
}

.subscribe {
    display: flex;
    padding-top: 1rem;
    padding-bottom: 2rem;
    gap: 1rem;
    align-items: center;
}

.extended-info {
    display: none;
}

.email-input {
    display: flex;
    width: 330px;
}

.form-input {
    padding: .6rem;
    font-size: 1rem;
    outline: var(--detail-color4);
}

::placeholder {
    color: var(--detail-color4);
}

/* placeholder-shown {
    height: 50px;
    width: 220px;
    border-style: solid;
    border-color: var(--detail-color1)
    border-right-color: transparent;
    border-radius: 7px 0 0 5px;
} */


/*gör input-delen flexibel - bredare i desktop view*/
input[type=email] {
    height: 3rem;
    width: 14rem;
    color: var(--detail-color4);
    border: none;
    border-radius: 7px 0 0 7px;
}

input[type=submit] {
    height: 3rem;
    width: 7rem;
    background-color: var(--accent-color);
    color: #fff;
    border:none;
    border-radius: 0 7px 7px 0;
    cursor: pointer;
}


input[type=submit]:hover {
    background-color: hsl(from var(--accent-color) h s calc(l + 2));
}

input[type=submit]:active {
    background-color: hsl(from var(--accent-color) h s calc(l - 2));

}



@media (min-width: 768px) {
    .subscribe-section {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 2;
    }
}

@media (min-width: 1400px) {
    .subscribe-section {
        max-width: 1320px;
        margin: 0 auto;
    }
    .extended-info {
        display: block;
    }
}


/*FOOTER*/

footer {
    padding: 1.5rem;
    color: var(--detail-color1);
    text-align: center;
}


