body.dark-theme {
    --accent-color: #6366f1;
    --btn-color: #EFF2FC;

    --bg-color-primary: #0B0F19;
    --bg-color-secondary: rgba(255, 255, 255, 0.04);
    --bg-color-tertiary: rgba(255, 255, 255, 0.05);
    --bg-color-quaternary: rgba(255, 255, 255, 0.04);
    --bg-color-header: rgb(21, 26, 39);

    --detail-color1: rgba(255, 255, 255, 0.15);
    --detail-color2: #6366F1;
    --detail-color3: #9397ad;
    --detail-color4: #fff;
    --detail-color5: rgb(99, 102, 241, 0.40);

    --font-color-primary: #fff;
}