:root {
    --accent-color: #6366f1;
    --btn-color: #0B0F19;

    --bg-color-primary: #fff;
    --bg-color-secondary: #F3F6FF;
    --bg-color-tertiary: rgb(226, 229, 241, 0.05);
    --bg-color-quaternary: #fff;
    --bg-color-header: #fff;

    --detail-color1: #E2E5F1;
    --detail-color2: #9397ad;
    --detail-color3: #9397ad;
    --detail-color4: #33354D;
    --detail-color5: rgb(147, 151, 173, 0.20);

    --font-color-primary: #0B0F19;
}