.s-font {
    font-size: .875rem;
    line-height: 160%;
    font-weight: 400;
}

.m-font {
    font-size: 1rem;
    line-height: 150%;
    font-weight: 400;
}

.l-font {
    font-size: 1.125rem;
    line-height: 150%;
    font-weight: 400;
}

.s-heading {
    font-size: 1.25rem;
    font-weight: 800;
    line-height: 150%;
}

.sm-heading {
    font-size: 1.56rem;
    line-height: 150%;
    font-weight: 800;
}

.m-heading {
    font-size: 1.75rem;
    font-weight: 800;
    line-height: 130%;
}

.l-heading {
    font-size: 2.125rem;
    font-weight: 800;
    line-height: 130%;
    padding-top: 1.5rem;
}

.xl-heading {
    font-size: 2.5;
    font-weight: 800;
    line-height: 130%;
}

.bold {
    font-weight: 600;
}

.x-bold {
    font-weight: 800;
}

